<header id="header-main">
  <nav id="nav-main">
    <a href="/" class="highlight">HOME</a>
    <a href="/dashboard" class="highlight">ABOUT</a>
    <a href="/auth/signin" class="highlight"> SIGN IN</a>
    {{!--  <a href="/auth/logout"> Log-out </a> --}}
  </nav>
  <button class="btn" href="/auth/signup" id="btn-signup"> SIGN UP</button>
</header>

<nav id="nav-mobile">
  <a href="/">HOME</a>
  <a href="/dashboard">ABOUT</a>
  <a href="/auth/signin">SIGN IN</a>
  {{!-- <a href="/auth/signup"> Sign-up </a>
    <a href="/auth/logout"> Log-out </a> --}}
</nav>


<button class="btn" href="/auth/signup" id="btn-signup-mobile"> SIGN UP</button>
<span id="burger"><i class="fa fa-bars"></i></span>