<nav>
  <button> Deploy menu</button>
  <ul class="container_item">
    <li><a href="/">Home</a></li> 
    <li><a href="/dashboard">Dashboard </a> </li>
    <li><a href="/auth/signin"> Sign-in </a> </li>
    <li><a href="/auth/signup"> Sign-up </a> </li>
    <li><a href="/auth/logout"> Log-out </a> </li>
  </ul>
</nav>