<!-- Give an array of questions in parameter to the partial -->

<ul>
{{#each this}}

<div>
  <li> <a href="/question-{{this._id}}"> {{this.question}} <i class="fa fa-question" aria-hidden="true"></i> </a></li>
</div>


{{/each}}
</ul>
