<!-- Give an answer object in parameter to the partial 
use moment to format dates, populate to get question details -->


<h4> on {{this.date}} </h4>

<h2> {{this.question}} </h2>

<div>
  <li> Your mood :  {{this.mood}} </li>
  <li> Your answer
    <p> {{this.response}} </p>  </li>
</div> 


