<header id="header-main">
  <nav id="nav-main">
    <a href="/" class="highlight">HOME</a>
    <a href="/about" class="highlight">ABOUT</a>
    <a href="/dashboard" class="highlight">DASHBOARD</a>
    <a href="/profile" class="highlight"> MY PROFILE</a>
    <a href="/auth/logout">LOG-OUT</a> 
  </nav>
  <a href="/auth/signup"><button class="btn"  id="btn-signup">SIGN UP</button></a>
</header>

<nav id="nav-mobile">
  <a href="/">HOME</a>
  <a href="/about" class="highlight">ABOUT</a>
  <a href="/dashboard" class="highlight">DASHBOARD</a>
  <a href="/profile">MY PROFILE</a>
  <a href="/auth/logout"> LOG-OUT </a> 
</nav>
<a href="/auth/signup"><button class="btn"  id="btn-signup-mobile"> SIGN UP</button></a>
<span id="burger"><i class="fa fa-bars"></i></span>