
<div id="quote-container">
    <p class="dash-title">Meditate</p>
    <p class="spotify-text">Listen to the perfect playlist for your meditation session</p>
    <div id="spo-quote"></div>
    <button id="get-widget" class="btn">Show playlist</button>
    
</div>

{{!-- <div id="widget-container">
<button id="get-widget">Show </button>
    </div> --}}