<section id="container">
  <div id="welcome-div">
    <div class="welcome-text-div">
  <h1 class="title">Hello<span class="yello">.</span></h1>
  <h2 class="hello">Welcome to Daysie</h2>
  </div>
  
  

  {{#if isLoggedIn}}
  <button id="btn-start" class="btn btn-start">Start</button>
  {{else}}
  <a href="/auth/signin"><button class="btn btn-start">Sign in</button></a>
  {{/if}}
  </div>
</section>


