@import './sign.css';
@import'./dashboard.css';
@import'./calendar.css'; 
@import'./user.css'; 
@import'./admin.css';
@import'./about.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: none;
}

.mood-radio {
  display: flex;
  flex-direction:row;
  margin-left: 60px;
}

.label-mood {
  margin: 60px;
}

#submit-mood {
  margin-left: 50px;
  margin-top: 20px;
}


.img-radio {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}



body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background-image: url("/images/fond3.png");
  background-repeat: no-repeat;
  background-size: cover;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
  width: 60%;
  
}

.typing {
  font-size: 30px
}

.see-dashboard {
  margin-left: 200px;
}

.btn {
  width: 150px;
  height: 40px;
  background-color: #6886c5;
  color:white;
  font-style: 17px;
  font-weight: 500;
  font-weight: 500;
  border-radius: 20px;
  border-style: none;
  overflow: hidden;
  z-index: 10;
}

input {
  height: 100px;
  width: 200px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes appears {
  from {
    color: rgba(0, 0, 0, 0);}
} to { 
  color: black; }

  @keyframes transition {

  }

.question  {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  font-size: 35px;
  overflow: hidden;
  margin-left: 50px;
  padding: 0;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;

}

.title {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  padding: 0px 0px 0px 200px;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0px 0px; 
  letter-spacing: .10em; 
  animation: 
    typing 4s steps(40, end);
}

.hello {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  padding: 0px 0px 30px 200px;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 30px 0px;
  letter-spacing: .15em; 
  animation: 
    typing 4s steps(40, end);
  
}

.yello {
  font-size: 50px;
  color: #eee95c

}

.welcome-text-div {
    width: 1500px;
    height: 300px;
    background-color: white;
    margin-top: 250px;
    padding-top: 50px;
}


.btn-start {
  margin: 80px 0px 30px 200px;
  font-size: 20px;
}

#question-div {
  width: 1500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    padding-top: 50px;
}

.slide {
  animation : slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.response-input {
  background-color: white;
  border-style: none;
  font-size: 20px;
  border-radius: 20px;
  width: 350px;
  margin-bottom: 10px;
  margin-left: 50px;
}

#submit-answer {
  margin: 10px 20px 20px 45px;
}

@media (max-width: 650px) {
  /* hide the nav when the screen size is <= 650px */
  #nav-main {
    display : none !important;
  }

  #nav-mobile {
    visibility: visible;

  }
  #header-main {
    display : none !important;
  }
  .welcome-text-div {
    width:800px;
  }
  .title {
    font-size: 30px;
    padding-left: 10px;
  }
  .question {
    font-size: 20px;
    padding-left: 10px;
  }
  .hello {
    font-size: 20px;
    padding-left: 10px;
  }

}

@media (min-width: 650px) {
  /* hide the nav when the screen size is >= 650px */
  #burger {
    display: none;
  }
  #btn-signup-mobile {
    display: none
  }
}

#mood-select {
  margin-bottom : 20px;
}

#nav-main{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 160px;
  padding-right: 35px;
  margin-top: 30px;
  z-index: 10;
}

#header-main{
  display:flex;
  flex-direction: row;
  z-index: 10;
}

#nav-main a {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 30px 70px 0px 0px;
}

#burger {
 background-color: #6886c5;
 color:white;
 text-decoration: none;
 cursor: pointer;
 padding: 10px;
 z-index: 10;
}

#nav-mobile {
  position: absolute;
  visibility: hidden;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 30%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: left 5s linear;
  background-color: #6886c5;
  border-top: 1px solid whitesmoke;
}

#nav-mobile a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 50px 50px 30px 20px;
}

#nav-mobile.is-active {
  right: 0;
}

#btn-signup {
  margin: 60px 50px 0px 0px;
  z-index: 20;
}

#btn-signup-mobile{
  margin: 30px 50px 0px 0px;
}

#btn-signup a {
  margin-bottom: 10px;
  width:20px;
  height: 20px;
}

.link{
  text-decoration: none;
  font-style: 17px;
  font-weight: 500;
  padding-top: 10px;
 text-align: center;
}

 /*  .btn::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(240, 232, 232, 0.822);

    width: 100px;
    height: 100px;
  

    top: 50%;
    left: 50%;
   

    animation: ripple 1s;
    opacity: 0;
  }
  .btn:focus:not(:active)::after {
    display: block;
  }

  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(10);
    }
  }  */


