#admin_dashboard {
  display: flex;
  margin: 2vh 4vw;
  justify-content: flex-start;
  margin-top: 10vh;
}

#container_fetch {
  width: 50%;
}

#container_display {
  margin-left: 5vw;
  font-size: 0.8em;
  scrollbar-color: #f199c1;
}

.manage-admin,
.question-admin {
  height: 5vh;
  margin: 2px 4px 2px 4px !important;
}

.input_admin {
  width: 47%;
  height: 20px;
  position: absolute;
  left: 37%;
  border: transparent solid 1px;
  border-radius: 15px;
  padding-left: 6px;
  box-sizing: border-box;
}

.btn_admin {
  position: absolute;
  left: 85%;
}

.question_delete {
  font-weight: bolder;
  background: crimson;
  color: aliceblue;
  text-decoration: none;
  width: 4vw;
  height: 4vh;
  border-radius: 20px;
  text-align: center;
  padding: 1px 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.list_questions {
  list-style: none;
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

#display_clear {
  border: none;
  background: cornsilk;
  color: cornflowerblue;
  width: 10vw;
  height: 4vh;
  border-radius: 15px;
  margin-left: 10vw;
}

#container_results {
  display: flex;
  align-items: center;
  position: fixed;
}

.revoke {
  box-sizing: border-box;
  color: crimson;
  cursor: pointer;
  font-weight: bold;
  border: solid 1px crimson;
  padding: 1vh 2vw;
  margin-top: 2vh;
  text-align: center;
  width: 50%;
}

.grant {
  box-sizing: border-box;
  color: green;
  cursor: pointer;
  font-weight: bold;
  border: solid 1px green;
  padding: 1vh 2vw;
  margin-top: 2vh;
  text-align: center;
  width: 50%;
}

.final {
  width: 70%;
  cursor: default;
}

#container_question {
  margin: 6vh 0vw;
  position: relative;
}

#container_admin {
  position: relative;
}

#display_results {
  position: relative;
  top: 10%;
  width: 45vw;
  height: 60vh;
  overflow: scroll;
}

#btn_fetchAllQuestions {
  position: relative;
  left: 30%;
}

#admin_status {
  font-weight: bold;
}

.question_text {
  color: rgb(136, 58, 209);
  font-size: 2rem;
}

.questions_text {
  color: deeppink;
  font-size: 1.1rem;
}

.blank {
  height: 2vh;
  background: transparent;
}

.delete {
  background: transparent;
  color: crimson;
  border: thin 0.4px;
  border-radius: 20px;
  position: relative;
  left: 35%;
}

.results {
  color: deeppink;
}

.btn_admin {
  width: 6vw;
  background: whitesmoke;
  color: cornflowerblue;
  border: lightblue solid 0.2px;
  border-radius: 20px;
  position: absolute;
  left: 85%;
}

.btn_all {
  background: whitesmoke;
  color: cornflowerblue;
  border: lightblue solid 0.4px;
  border-radius: 20px;
  margin: auto;
}

#btn_fetchAllUsers {
  position: absolute;
  left: 55%;
}


#btn_fetchAllQuestions {
  position: absolute;
  left: 55%;
}

.newQuestion {
  display: flex;
  flex-flow: column wrap;
}