*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#cal-container{
   /* border: black solid; */
  margin-top: 9vh;
  display:flex;
align-items: flex-start;
justify-content: space-around;
}

#quest-title{
  padding-top:6vh ;
}

/* .each-day{

} */
#widget-cal{
  display: flex;
  background:white;
  /* border: green solid; */
  padding:5.4vh;
  border-radius: 20%;
}

#past-ans{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:81vh;
  padding: 3.6vh;
  background: white;
  border-radius: 20%;
  height:63.4vh;
}

#pasta{
text-align: justify;
}


#calendar {
    
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 54vh;
  margin: 0 auto;
  height: 53vh;
  overflow: hidden;
  
 
}

.cal-header {
  height: 7.2vh;
  width: 55vh;
  background: linear-gradient(90deg, rgba(104,134,197,1) 0%, rgba(243,153,193,1) 50%, rgba(255,235,153,1) 100%);
  text-align: center;
  position: relative;
  z-index: 100;
  
}

.cal-header h1 {
  margin: 0;
  padding-top: 1.5vh;
  padding-bottom: auto;
  font-size: 2.74vh;
  line-height: 4.6vh;
  font-weight: bold;
  letter-spacing: 0.1vh;
}

.left,
.right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -0.7vh;
  cursor: pointer;
}

.left {
  border-width: 0.7vh 0.9vh 0.7vh 0;
  border-color: transparent white transparent transparent;
  left: 20px;
}

.right {
  border-width: 0.7vh 0 0.7vh 0.9vh;
  border-color: transparent transparent transparent white;
  right: 1.8vh;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
  -moz-animation: moveFromTopFadeMonth 0.4s ease-out;
  animation: moveFromTopFadeMonth 0.4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth 0.4s ease-in;
  -moz-animation: moveToTopFadeMonth 0.4s ease-in;
  animation: moveToTopFadeMonth 0.4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
  -moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
  animation: moveFromBottomFadeMonth 0.4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
  -moz-animation: moveToBottomFadeMonth 0.4s ease-in;
  animation: moveToBottomFadeMonth 0.4s ease-in;
  opacity: 1;
}

.week {
  background: white;

}

.day {
  display: inline-block;
  width: 7.7vh;
  padding: 0.9vh;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: white;
  position: relative;
  z-index: 100;
  color:rgba(104,134,197, 1)
}

.day.other {
  color: rgba(255, 255, 255, 0.3);
}

.day.today {
  color: white;
  background-color: rgba(104,134,197, 0.6);
}

.day-name {
  font-size: 0.81vh;
  text-transform: uppercase;
  margin-bottom: 0.45vh;
  color: white;
  letter-spacing: 0.06vh;
}

.day-number {
  font-size: 2.18vh;
  letter-spacing: 0.14;
}

.day .day-events {
  list-style: none;
  margin-top: 0.27vh;
  text-align: center;
  height: 1.09vh;
  line-height: 0.54;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 0.45vh;
  height: 0.45vh;
  line-height: 0.45vh;
  margin: 0 0.09vh;
}



.details {
  position: relative;
  width: 54.5vh;
  height: 6.8vh;
  background-color: rgba(104,134,197, 0.6);
  margin-top: 0.45vh;
  border-radius: 0.36vh;
}

.details.in {
  -webkit-animation: moveFromTopFade 0.5s ease both;
  -moz-animation: moveFromTopFade 0.5s ease both;
  animation: moveFromTopFade 0.5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade 0.5s ease both;
  -moz-animation: moveToTopFade 0.5s ease both;
  animation: moveToTopFade 0.5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -0.18px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0.45vh 0.45vh 0.45vh;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}

.events {
  height: 6.8vh;
  padding: 0.63vh 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
}

.events.in {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink 0.4s ease both;
  -moz-animation: fadeOutShink 0.4s ease both;
  animation: fadeOutShink 0.4s ease both;
}

.events.out {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
}

.event {
  font-size: 1.45vh;
  line-height: 2vh;
  letter-spacing: 0.04vh;
  padding: 0.18vh 1.45vh;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.white {
  background:rgba(104,134,197,1); 
  height: 0.9vh;
  width: 0.9vh;
  display: inline-block;
  margin: 0.54vh 0 0;
  vertical-align: top;
}


.event span {
  display: inline-block;
  padding: 0 0 0 0.63vh;
  cursor: pointer;
}

.event .white{
  background-color: white;
}

.entry {
  position: relative;
  padding: 0 0 0 2.27vh;
  font-size: 1.18vh;
  display: inline-block;
  line-height: 2.72vh;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: "";
  height: 0.45vh;
  width: 0.45vh;
  top: 1.09vh;
  left: 1.27vh;
}

.entry.blue:after {
  background: rgba(156, 202, 235, 1);
}
.entry.orange:after {
  background: rgba(247, 167, 0, 1);
}
.entry.green:after {
  background: rgba(153, 198, 109, 1);
}
.entry.yellow:after {
  background: rgba(249, 233, 0, 1);
}

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    height: 0px;
    margin-top: 0px;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFade {
  to {
    opacity: 0.3;
    height: 0px;
    margin-top: 0px;
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTopFade {
  to {
    height: 0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    height: 0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}
@-moz-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}
@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}
@-moz-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}
@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}
@-moz-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}
@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}
@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
@-moz-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
@keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
