.container_global {
  display: flex;
  flex-flow: row wrap;

}


.container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}
.container_form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  margin-top: 60px;
}


@keyframes slide-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}

.container_item {
  display: flex;
  flex-flow: column wrap;
  justify-content: baseline;
  align-items: center;
  width: 30vw;
  height: 10vh;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.801);
}

.label {
  color: rgb(142, 175, 238);
}



.input_sign {
  width: 18vw;
  height: 5vh;
  border-radius: 25px;
  border: 1px rgba(130, 167, 236, 0.651) solid;
  padding-left: 15px;
  margin: 1vh 1vw;
  box-sizing: border-box;
}

#a_signin, #a_signup {
  cursor: pointer;
}

#input_signin, #input_signup {
  width: 15vw;
  height: 7vh;
  color: aliceblue;
  border-radius: 25px;
  font-size: larger;
  margin: 20p;
  box-sizing: border-box;

}

#message_error {
  color: rgb(240, 77, 77);
  width: 15vw;
  overflow-wrap: break-word;
  border-radius: 25px;
  padding-left: 15px;
  margin: 1vh 1vw;
  box-sizing: border-box;


}