@import './sign.css';
@import'./dashboard.css';
@import'./calendar.css';

/* @import'./calendar.css'; */
@import'./admin.css';

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background-image: url("/images/fond2.png");
  background-position: auto;
  background-size: initial;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
  width: 60%;
  
}

.typing {
  font-size: 30px
}

.see-dashboard {
  margin-left: 200px;
}

.btn {
  width: 150px;
  height: 40px;
  background-color: #6886c5;
  color:white;
  font-style: 17px;
  font-weight: 500;
  font-weight: 500;
  border-radius: 20px;
  border-style: none;
}

input {
  height: 100px;
  width: 200px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes appears {
  from {
    color: rgba(0, 0, 0, 0);}
} to { 
  color: black; }

  @keyframes transition {

  }

.question  {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  font-size: 50px;
  overflow: hidden; 
  animation: 
  appears 8s; 

}

.title {
  font-size: 50px;
  padding: 0px 0px 30px 200px;
  margin: 0;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 20px 0px; 
  letter-spacing: .10em; 
  animation: 
    typing 4s steps(40, end);
}

.hello {
  font-size: 30px;
  padding: 0;
  margin: 0;
  padding: 0px 0px 30px 200px;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 0px;
  letter-spacing: .15em; 
  animation: 
    typing 4s steps(40, end);
  
}

.yello {
  font-size: 50px;
  color: #D1CD62

}

.btn-start {
  margin: 0px 0px 30px 200px;
  font-size: 20px;
}

#question-div {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  border-style : 2px solid black;
 
}

.response-input {
  background-color: white;
  border-style: none;
  font-size: 20px;
  border-radius: 20px;
  width: 350px;
  margin-bottom: 10px;
}

#submit-answer {
  margin: 20px;
}

@media (max-width: 650px) {
  /* hide the nav when the screen size is <= 650px */
  #nav-main {
    display : none !important;
  }
  #header-main {
    display : none !important;
  }
}

@media (min-width: 650px) {
  /* hide the nav when the screen size is >= 650px */
  #burger {
    display: none;
  }
  #btn-signup-mobile {
    display: none
  }
}

#mood-select {
  margin-bottom : 20px;
}

#nav-main{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 160px;
  padding-right: 35px;
  margin-top: 30px;
}

#header-main{
  display:flex;
  flex-direction: row;
}

#nav-main a {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 30px 70px 0px 0px;
}

#burger {
 background-color: #6886c5;
 color:white;
 text-decoration: none;
 cursor: pointer;
 padding: 10px;
}

#nav-mobile {
  position: absolute;
  top: 0px;
  right: -100%;
  bottom: 0;
  width: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: left 5s linear;
  background-color: #A8A7C7;
  ;
  border-top: 1px solid whitesmoke;
}

#nav-mobile a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 50px 50px 30px 20px;
}

#nav-mobile.is-active {
  right: 0;
}

#btn-signup {
  margin: 60px 50px 0px 0px;
}

#btn-signup-mobile{
  margin: 30px 50px 0px 0px;
}

#btn-signup a {
  margin-bottom: 10px;
  width:20px;
  height: 20px;
}


/*# sourceMappingURL=style.css.map */

