<section class="team-section">
  <div class="about-div">
    <img src="./images/marie.png" class="img-team">
    <h2 class="name">Marie</h2>
    <p>Coucou</p>
  </div>
  <div class="about-div">
    <img src="./images/charlotte.png" class="img-team">
    <h2 class="name">Charlotte</h2>
    <p>Coucou</p>
    </div>
  <div class="about-div">
    <img src="./images/alice.png" class="img-team">
    <h2 class="name">Alice</h2>
    <p>Coucou</p>
    </div>
</section>
