<section id="dashboard-div">
<div class="first-div">
  <div class="text">
  <h1 class="title-dash">Hi {{currentUser.name}}, <br>Welcome to your dashboard</h1>
  <p class="text-dash">Meditate, get inspired, <br>and track all your journey from here</p>
  <a  href="/calendar" class="btn link" id="btn-calendar">See my calendar</a>
  </div>
  </div>
  <section id="dashboard-div2">
    <div class="second-div">
{{> inspiQuotes quote}}

</div>

<div class="third-div">
{{> youtube}}

</div>
 <div class="fourth-div">

{{> spotify}}
</div>
</section>

</section>


