<section id="container">
  <div id="welcome-div">
  <h1 class="title">Hello<span class="yellow">.</span></h1>
  <h2 class="hello">Welcome to (nom de l'app)</h2>
  <button id="btn-start" class="btn btn-start">Start</button>
  </div>
</section>


