{{>questionsLog questions}}

<div id="details_box" class="hidden">
<h3 id="details_question"></h3>
<ul id="details_answers"> 
</ul>
<button id="details_ok"> OK </button>
</div>

<hr>

{{>answersLog answers}}