
<div>

<section>
  <h2>Sign-up</h2>
<form action="auth/signup" method="post">
<label for="name" >Name</label>
<input type="text" name="name" id="name">
<label for="lastName" >Lastname</label>
<input type="text" name="lastName" id="lastName">
<label for="email" >Email</label>
<input type="email" name="email" id="email" required>
<label for="password" >Password</label>
<input type="password" name="password" id="password" required>
<label for="bday" >Birthday</label>
<input type="date" name="bday" id="birthday">

<input type="submit" value="Register">
</form>
<p> Already have an account?! <a id="a_signin"> Sign-in!</a></p>
</section>


<section>
  <h2>Sign-in</h2>
<form action="auth/signin" method="post">
<label for="email" >Email</label>
<input type="email" name="email" id="email" required>
<label for="password" >Password</label>
<input type="password" name="password" id="password" required>

<input type="submit" value="Log in">
</form>
<p> Not registered yet ?! <a id="a_signup"> Sign-up!</a></p>
</section>

</div>